.rounded {
	border-radius: 5px;
}

#header {
	z-index: 1;
	position: fixed;
	width: 99%;
	margin-top: -20px;
	height: 60px;
	background-color: #FF3399;
	margin-bottom: 10px;
}

#name {
	float:left;
	margin-left: 5px;
	padding-top: 5px;
	font-size: 16px;
	font-family: Verdana, sans-serif;
	color: #ffffff;
}

#email{
	margin-right: 5px;
	padding-top: 2px;
	font-size: 16px;
	font-family: Verdana, sans-serif;
	color: #ffffff;
}

h4 {
	margin-left: 5px;
	margin-bottom: 15px;
	font-family: Verdana, sans-serif;
}

.central p {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: -10px;
	font-family: Garamond, serif;
	color: #000000;
}

.button {
	border-radius: 5px;
	border: 2px solid #CC0066;
	background-color: #FF6699;
	height: 50px;
	width: 120px;
	margin: auto;
	text-align: center;
	margin: 50px 20px 20px 20px;
	display: inline-block;
}

a {
	text-decoration: none;
	font-family: Helvetica; 
	color: #F0F0F0;
}

a:hover {
	font-weight: bold;
}

a:visited {
	text-decoration: none;
}

.central {
	position: relative;
	float: left;
	margin-top: 50px;
	width: 100%;
	height: 300px;
	background-color: #C0C0C0;
	margin-bottom: 10px;
}

#footer {
	position: relative;
	height: 100px;
	background-color: #99FF99;
	clear: both;
	font-family: Verdana, sans-serif;
	font-size: 14px;
	text-align: center;
	color: #ffffff;
}

#footer p {
	position: relative;
	padding-top: 15px;
}